In [1]:
import pandas as pd

In [2]:
path_ciudades = '../data/ciudades.csv'

In [5]:
df_ciudades = pd.read_csv(path_ciudades, header=None)

In [6]:
df_ciudades

                        0         1         2
0            Buenos Aires -34.61315 -58.37723
1                 Córdoba -31.41350 -64.18105
2                 Rosario -32.94682 -60.63932
3                 Mendoza -32.89084 -68.82717
4   San Miguel de Tucumán -26.82414 -65.22260
5                La Plata -34.92145 -57.95453
6           Mar del Plata -38.00042 -57.55620
7                   Salta -24.78590 -65.41166
8                Santa Fe -31.64881 -60.70868
9                San Juan -31.53750 -68.53639
10            Resistencia -27.46056 -58.98389
11    Santiago del Estero -27.79511 -64.26149
12                Posadas -27.36708 -55.89608
13  San Salvador de Jujuy -24.19457 -65.29712
14           Bahía Blanca -38.71959 -62.27243
15                 Paraná -31.73271 -60.52897
16                  Merlo -34.66627 -58.72927
17            José C. Paz -34.51541 -58.76813
18                Quilmes -34.72904 -58.26374
19                  Pilar -34.45866 -58.91420

In [15]:
for ind in df_ciudades.index:
    print(df_ciudades[0][ind])

Buenos Aires
Córdoba
Rosario
Mendoza
San Miguel de Tucumán
La Plata
Mar del Plata
Salta
Santa Fe
San Juan
Resistencia
Santiago del Estero
Posadas
San Salvador de Jujuy
Bahía Blanca
Paraná
Merlo
José C. Paz
Quilmes
Pilar